/* boilerplate start */

html {
    box-sizing: border-box;
    overflow: hidden;
} *, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
} h1, h2, h3, p {
    margin: 0;
} a {
    text-decoration: none;
    color: inherit;
} a:hover {
    text-decoration: underline;
} ul, ol {
    list-style: none;
}

/* boilerplate end */
/* template start */

:root {
    --coral: #f49b85;
    --white: #F2F5FF;
    --blue: #477998;
    --yellow: #F5E960;
    --black: rgb(9, 12, 2);
}

header {
    background-color: var(--coral);
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1vw 20px;
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif
}

footer {
    background-color: var(--blue);
    flex: 0 0 auto;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1.2rem;
}

nav {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
}
a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.main-container {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    gap: 20px;
}
.button-container>button {
    background: none;
    font-size: 1.2rem;
    border: none;
    color: var(--blue);
    
}
.button-container>button:hover {
    color: var(--black);
}

.grid-container {
    display: grid;
}

.grid-cell {
    background-color: white;
    flex: 0 0 auto;
    border: var(--white) 1px solid;
}
.colored {
    background-color: var(--yellow);
}
.frozen {
    background-color: var(--black);
    border: none;
}

.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}
.popup-window {
    background-color: white;
    padding: 4vmin;
    width: 50vw;
    height: auto;
    border-radius: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0px 0px 20px 5px rgba(9,12,2,0.05);

}
.popup-bar {
    display: flex;
    color: var(--coral);
    justify-content: space-between;
}
.popup-bar>button {
    background-color: white;
    border: 1px var(--coral) solid;
    padding: 4px 8px;
    color: var(--coral);
}
.popup-bar>button:hover {
    color: var(--blue);
    border-color: var(--blue);
}
.separator {
    height: 1px;
    background-color: var(--coral);
    margin: 2vmin 0;
    flex: 0 0 1px;
}
.popup-content {
    font-size: 1.2rem;
    min-height:30px;
    color: var(--blue);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.number-input {
    display: flex;
    justify-content: space-between;
}
.number-input:hover {
    color: var(--black);
}

input {
    border: var(--blue) 1px solid;
    width: 5vw;
    gap: 10px;
    flex: 0 1 10px;
    color: var(--blue);
}
input:hover {
    border-color: var(--black);
}

.submit-popup {
    margin-top: 12px;
    background-color: white;
    border: 1px var(--coral) solid;
    padding: 8px 16px;
    color: var(--coral);
    font-size: 1rem;
    text-align: start;
}
.submit-popup:hover {
    color: var(--blue);
    border-color: var(--blue);
}

.hidden {
    visibility: hidden;
}